
Semana 1/sumaProducto/.vs/sumaProducto/FileContentIndex/926325d6-a514-4922-b671-49f1fb0c5e9e.vsidx
Semana 1/sumaProducto/.vs/sumaProducto/FileContentIndex/b33c90a4-21cc-4720-baf2-364341f9e4fa.vsidx
/Semana 1/sumaProducto/.vs/sumaProducto/FileContentIndex/11334dbe-56e4-45de-903a-a45ee3c1d5c7.vsidx
/Semana 1/sumaProducto/.vs/sumaProducto/FileContentIndex
/.vs/Curso Csharp-Itla/FileContentIndex/2043c789-8a2b-4dd7-b61e-c9eed80dbc02.vsidx
/Semana 2/ejercicio1/.vs/ejercicio1/FileContentIndex/0d4cc5c1-3831-43eb-bc90-deec77060511.vsidx
/Semana 2/PromedioNotas/.vs/PromedioNotas/FileContentIndex/8659b44b-c9ac-467e-acaa-62d0d81ac3f5.vsidx
/Semana 2/mensajeSegunPromedio/.vs/mensajeSegunPromedio/FileContentIndex/3c2b8663-ff2b-45ea-9b48-1257187b72f5.vsidx
/Semana 2/mensajeSegunPromedio/.vs/mensajeSegunPromedio/FileContentIndex/4cd49df9-d14a-44ae-a99a-03b5b2d731f1.vsidx
/Semana 2/ejercicioOperaciones/.vs/ejercicio1/FileContentIndex
/.vs/Curso Csharp-Itla/FileContentIndex/2d664c1a-0d23-4ee1-9adb-88588c09aeec.vsidx
/.vs/Curso Csharp-Itla/FileContentIndex/7fa6ef41-b037-4d6a-be05-c9bf240b2ffd.vsidx
/.vs/Curso Csharp-Itla/FileContentIndex/8053fae1-0a24-40b0-85e5-0c751d441b7a.vsidx
/Semana 3/CalcularPerimetroCuadrado/.vs/CalcularPerimetroCuadrado/FileContentIndex/e328a3e1-cdc1-450a-aae6-797b61bf55c8.vsidx
/Semana 3/CalcularPerimetroCuadrado/.vs/CalcularPerimetroCuadrado/FileContentIndex/8e9a9a94-928f-494a-b630-dc55210b5022.vsidx
/Semana 3/SumayProductoNumeros/.vs/SumayProductoNumeros/FileContentIndex/7d7e63a6-f6c6-497c-b66f-5fdbf843bf96.vsidx
/Semana 3/SumayProductoNumeros/.vs/SumayProductoNumeros/FileContentIndex/c214c464-a587-4756-a718-02aeb132a10c.vsidx
